ops.json
help.yml
eula.txt
permissions.json
version.json
wepif.yml
whitelist.json
.idea
world/
world_nether/
world_the_end/
META-INF/
libraries/
logs/
paperclip/
work/
apache-maven-*/
plugins/Citizens/lib
plugins/dynmap/web
plugins/WorldEdit/sessions
plugins/Citizens/lib
plugins/Towny/data
plugins/Towny/backup
plugins/StatPlugin
plugins/ImageOnMap
plugins/Multiverse-Inventories/
*.db
*.cache
versions
crash-reports/
plugins/Votifier/rsa/private.key
plugins/Votifier/rsa/public.key
plugins/Votifier/config.yml
plugins/EssentialsDiscordLink/
plugins/EssentialsDiscord
plugins/Essentials/userdata/
plugins/SkinsRestorer/
plugins/VotingPlugin/Backups/
plugins/EnderBank/banks/
plugins/BeautyQuests/players/
plugins/BuycraftX
plugins/GUIShop/Data/cache.yml
plugins/GUIShop/Data/inventories.yml
plugins/EssentialsDiscord/
plugins/EconomyShopGUI/transaction-log.txt
plugins/VotingPlugin/ServerData.yml
plugins/SignShop/sellers.yml
plugins/SignShop/sellers.yml.bak
plugins/LuckPerms/luckperms-h2-v2.mv.db
