
*.jar
*.mca
*.dat
*.dat_old
*.yml
*.gz
*.json
*.txt
plugins/CoreProtect/database.db
plugins/CoreProtect/.license
plugins/ChestShop/version
plugins/ChestShop/users.db
plugins/ChestShop/items.db
plugins/LibertyBans/internal/hypersql/punishments-database.log
plugins/LibertyBans/internal/hypersql/punishments-database.lck
logs/latest.log
*.log
logs/latest.log
plugins/LibertyBans/internal/hypersql/punishments-database.lck
plugins/LibertyBans/internal/hypersql/punishments-database.log
*.lck
*.log
*.lck
*.log
