*.mca
*.dat
*.dat_old
plugins/CoreProtect/database.db
plugins/CoreProtect/.license
plugins/ChestShop/version
*.db
plugins/LibertyBans/internal/hypersql/punishments-database.log
plugins/LibertyBans/internal/*
world/*
logs/*
