/*************************************************
**************************************************

Website Name: 
Website URL: 
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************


*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  background: gray url("/img/dirt.png") repeat local 0px 0px;
	margin: 5;
	padding: 5;
	box-sizing: border-box;  }
  /*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  body {
    
	font-family:sans-serif;
  color: black;
  background-image:image("img/dirt.png");
  outline-color: black;
  
  }
  .button {
    border: none;
    color: gray;
    outline-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/
  h1 {
    align-self: flex-start;
    outline: width 2px;
    border: 8px solid #000;
  }
  h2 {
    border-top: 8px groove #000;
    border-right: 8px groove #000;
    border-bottom: 8px groove #000;
    border-left: 8px groove #000;
  }
  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/

  body {
    align-self:auto;
    background-color: darkgray;
    outline: black groove solid;

  }

  /*----------------------------------------------
  ------------------------------------------------
  4. Sidebar Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  5. Widget Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  7. Comments & Form Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
  /*----------------------------------------------
  ------------------------------------------------
  8. Generic Styles
  ------------------------------------------------
  ----------------------------------------------*/